body {
    max-height: 100vh;
    /* 100vh represents 100% of the viewport height */
    overflow-y: auto;
}

.logo {
    width: 50%;
    height: auto;
    margin: 3% auto 8%;
    display: block;
}

top_info {
    text-align: center;
    display: block;
    margin-bottom: 35px;
}

cf {
    color: orange;
    font-family: Apple Chancery, cursive;
}

ucf {
    font-family: Arial, Helvetica, sans-serif;
}

.item_pictures {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    /* rounder corners for images */
    display: block;
}

.col-3 {
    height: 100%;
    /* column stretches to fit the content in col7 */
    display: flex;
    /* flexbox for alignment */
    align-items: center;
    justify-content: center;
}

.menu-item {
    display: flex;
    align-items: stretch;
}

.col-3 {
    width: 41%;
}

button {
    border: none;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 11px !important;
    border-radius: 50% !important;
}

#food_menu {
    margin: 0 auto;
    text-align: left;
}

.row {
    justify-content: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

h5 {
    font-weight: bold;
    font-size: 1.2rem;
}

p {
    font-weight: normal;
    font-size: 1rem;
    color: gray !important;
}

p.text-muted {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}